<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "me.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p style="text-align: justify">With over a decade of development experience in a number of industries I
      realized that the typical product creation process between clients and developers
      was flawed. All too often developers rarely communicate to clients throughout
      the development stage, resulting in a final product that fails to reach the goal
      sought by the customer and end user.
      <br/>
      <br/>
      For this reason I decided to utilize a completely different development pattern that
      focuses on highly focused communication and transparent design patterns. When I take
      on a project not only do I work to craft the application according to the client's
      specifications, I give daily updates to ensure that the project is aligning properly
      with the client's goals. The end result is the right product, delivered on time, and on budget.
    </p>

      <button type="button" onclick="window.open('https://github.com/bolad', '_blank')" class="btn btn-secondary">GitHub</button>
      <button type="button" onclick="window.open('https://linkedin.com/in/stanley-akyea-a46a0915/', '_blank')" class="btn btn-secondary">LinkedIn</button>
      <button type="button" onclick="window.open('https://twitter.com/Boladizzle1', '_blank')" class="btn btn-secondary">Twitter</button>
    </div>
  </div>

</div>
